.background-cover {
  background: url('./assets/studying.jpg');
  background-size: cover;
  -webkit-filter: saturate(2) opacity(.9);
  height: 100%;
}

.background-cover * {
    -webkit-filter: saturate(0) blur(0px);
}
