<!-- <div class="search-tags">
  <md-card *ngFor="let tag of searchTags" class="search-tag">
    {{tag}}
    <span (click)="removeTag(tag)" class="close">&#x2715;</span>
  </md-card>
</div>
<md-card>
  <md-input placeholder="{{searchBoxName}}"
    #searchBox id="search-box" (keyup)="search(searchBox.value)">
      <i class="material-icons app-input-icon">search</i>
  </md-input>

  <md-list class="app-list">
    <md-list-item *ngFor="let school of schools | async">
      <h3 md-line (click)="selectSchool(school.name); searchBox.value = ''">{{school.name}}</h3>
      <p md-line class="demo-secondary-text">{{school}}</p>
    </md-list-item>
  </md-list>
</md-card> -->
<router-outlet></router-outlet>
